$text: #cdd6f4;
$background: #181825;
$hover: #313244;
$silent: #585b70;

// === UNUSED ===
// $base: #1e1e2e;
// $surface1: #45475a;
// $rosewater: #f5e0dc;
// $lavender: #b4befe;
// $red: #f38ba8;
// $peach: #fab387;
// $yellow: #f9e2af;
// $green: #a6e3a1;
// $teal: #94e2d5;
// $blue: #89b4fa;
// $mauve: #cba6f7;
// $flamingo: #f2cdcd;
